:root {
  font: 16px / 1 sans-serif;

  --easy-cell-size: 3rem;
  --easy-board-size: 8;

  --medium-cell-size: 2rem;
  --medium-board-size: 16;

  --hard-cell-size: 1.5rem;
  --hard-board-size: 24;
}
body {
  margin: 0;
  height: 100%;
}
div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  /* center the header */
  text-align: center;
  /* Use a sans serif font with a little spacing and color */
  letter-spacing: 0.4rem;
  font-size: var(--header-font-size);
  color: var(--header-text-color);
  /* Remove margins and set a little padding */
  margin: 0;
  padding: var(--header-font-size);
  /* Set a background color for the header */
  background-color: var(--header-background);
}
section {
  /* Be gone margins! */
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
section.difficulty-0 button {
  width: var(--easy-cell-size);
  height: var(--easy-cell-size);
}
section.difficulty-0 {
  grid-template-columns: repeat(var(--easy-board-size), 1fr);
  grid-template-rows: repeat(var(--easy-board-size), 1fr);
  width: calc(var(--easy-board-size) * var(--easy-cell-size));
  height: calc(var(--easy-board-size) * var(--easy-cell-size));
}
section.difficulty-1 button {
  width: var(--medium-cell-size);
  height: var(--medium-cell-size);
}
section.difficulty-1 {
  grid-template-columns: repeat(var(--medium-board-size), 1fr);
  grid-template-rows: repeat(var(--medium-board-size), 1fr);
  width: calc(var(--medium-board-size) * var(--medium-cell-size));
}
section.difficulty-2 button {
  width: var(--hard-cell-size);
  height: var(--hard-cell-size);
}
section.difficulty-2 {
  grid-template-columns: repeat(var(--hard-board-size), 1fr);
  grid-template-rows: repeat(var(--hard-board-size), 1fr);
  width: calc(var(--hard-board-size) * var(--hard-cell-size));
}
section button {
  margin: 0;
  padding: 0.5;
  background-color: grey;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
section button.taken {
  cursor: not-allowed;
}
ul button.small {
  font-size: 4rem;
}
ul button.not-allowed-click {
  background-color: red;
}
